body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url('assets/Background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 19%;
  scrollbar-width: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 60px;
  gap: 20px;
  position: relative;
  z-index: 10;
}

h1.title {
  position: static;
}

h1 img {
  max-width: 240px;
  height: auto;
  position: absolute;
  top: -5%;
  left: 50.5%;
  transform: translateX(-50%);
}


#figma-frame {
  position: relative;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 3 / 4;
  border: 5px solid yellow;
  overflow: hidden;
  border-radius: 12px;
}

#countdown {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: whitesmoke;
  z-index: 9999;
  pointer-events: none;
  font-family: "Public Sans", sans-serif;
}

#snap.normal-button {
  width: 100px;
  height: 39px;
  background-image: url('assets/Button.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#camera {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#camera {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  width: auto;
  height: auto;
  image-rendering: crisp-edges;
}

.preview-section {
  width: 55%;
  max-width: 480px;
  margin: 90px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
}

.preview-title img {
  max-width: 240px;
  height: auto;
}

.preview-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.preview-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.download-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;  
  flex-direction: row; 
  gap: 1rem;           
  align-items: center;
  justify-content: center;
}

.download-button {
  background-color: #ffb347;
  color: #000;
  font-size: 1rem;
  padding: 10px 24px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #ff9933;
}

.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
}


@media screen and (max-width: 768px) {
  #figma-frame {
    width: 90%;
    height: 300px;
  }
}